:root {
    /* CORES */
    --preto: #000000;
    --branco: #ffffff;
    --azul-claro: #b0e1ee;
    --rosa: #D7A1E3;
    --azul-escuro: #3292ad;
    --laranja: #E3AA74;
    --verde: #B8E37F;
    --cinza-escuro: #333333;
}